.Results-header {
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: calc(35px + 2vmin);
  color: white;
}

.productTitle {
  height: 20px;
  margin-bottom: 17px;
}

.description {
  color: white;
  font-size: 12px;
  font-style: italic;
  height: 50px;
  word-wrap: break-word;
}

.source {
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  word-wrap: break-word;
}

.content-container {
  background-color: #33254c;
  display: flex;
  justify-content: center;
}

.item-picture {
  width: 100px;
  height: 100px;
  border: 3px solid rgb(0, 0, 0);
  margin: 10px 0;
}

.content {
  color: white;
  list-style: none;
}

.li-result {
  display: inline-table;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  text-align: left;
  height: 300px;
  width: 275px;
  padding: 15px;
  background-color: #554c65;
  border-radius: 10px;
  margin: 10px;
}

.price {
  font-size: 24px;
}
